@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.first-container {
    background-color: #467fd0;
    height: 70px;
    width: 100vw;
}

.flipkart-logo {
    height: 70px;
    margin-left: 200px;
    padding: 8px;
}

.search-card {
    background-color: white;
    height: 40px;
    width: 620px;
    margin-top: 18px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
}

.search-text {
    color: #697872;
    font-family: roboto;
}

.search-logo {
    height: 20px;
    width: 20px;
    margin-top: 3px;
}

.top-names {
    color: white;
    font-family: roboto;
    padding: 5px;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 16px;
}

.cart-name {
    color: white;
    font-family: roboto;
    padding: 5px;
    margin-top: 20px;
    font-size: 20px;
}

.cart-logo {
    height: 35px;
    width: 35px;
    margin-top: 24px;
    margin-left: 25px;
}

.top-images {
    height: 60px;
    width: 60px;
}

.first-card {
    background-color: white;
    width: 100vw;
    height: 120px;
}

.category {
    margin: 15px;
    margin-left: 85px;
    height: 250px;
}

.category-names {
    font-family: roboto;
    font-size: 15px;
}

.background-container {
    background-color: #e0e0e0;
}

.caro {
    margin: 25px;
}

.second-card {
    background-color: white;
    margin: 15px;
}

.electronics-images {
    height: 150px;
    width: 150px;
}

.product-name {
    font-family: roboto;
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
}

.price {
    font-family: roboto;
    font-size: 13px;
    color: green;
    margin: 5px;
}

.company {
    font-family: roboto;
    font-size: 16px;
    color: grey;
}

.heading {
    font-family: roboto;
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
    margin-top: 10px;
    margin-left: 15px;
}

.para {
    font-family: roboto;
    font-size: 15px;
    margin: 5px;
    margin-left: 15px;
    margin-top: 10px;
    color: grey;
}

.button {
    background-color: #467fd0;
    color: white;
    font-family: roboto;
    width: 100px;
    height: 40px;
    margin: 15px;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
}

.dd {
    height: 40vh;
    object-fit: fill;
}

.bottom-card {
    height: 50px;
    width: 100vw;
    background-color: #467fd0;
}